<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact</title>
</head>
<body>
    <header> <h2>Επικοινωνία</h2> </header>
    <div class="container">
        <table id="tblData" class="ws-table-all w3-bordered w3-striped w3-border test w3-hoverable" style="width:100%">
            <thead>
             
            </thead>
            <tbody>
            
            </tbody>
        </table>
    </div>
    
    <div style="display: flex;">
        <iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=23.73029307955113%2C37.977889682887664%2C23.73029307955113%2C37.977889682887664&amp;layer=mapnik&amp;marker=37.977889682887664%2C23.73029307955113" style="border: 1px solid black"></iframe>
        <table style="margin-left: 20px;">
            <tbody>
                <tr>
                    <td>Τοποθεσία:Κολοκοτρώνη 30, Αθήνα 105 62</td>
                </tr>
                <tr>
                    <td>Τηλέφωνο Επικοινωνίας: +302109465345
                        Ωρες Επικοινωνίας 12:00-15:00
                    </td>
                </tr>
                <tr>
                    <td>Email Επικοινωνίας: mgtcompany@hotmail.com </td>
                </tr>
                <tr>
                    <td>Υπενθυμίζεται ότι είναι δυνατή η εξυπηρέτηση των ενδιαφερομένων  κατόπιν ραντεβού με τον Ceo: Αθανάσιος Αραπάκης. </td>
                </tr>
                <tr>
                    <td> Ωρες λειτουργίας 8:00-16:00</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

