@{
    ViewData["Title"] = "Home Page";
}
@model List<Artist>

<div class="text-center">
    <h1 class="display-4">Welcome Boyz</h1>
</div>

<table>
    <thead>
        <tr>
            <th>ΚΑΛΛΙΤΕΧΝΕΣ</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {

            <tr>
                <td>
                    <a class="panel" asp-controller="Order" asp-action="Index" asp-route-id="@obj.Id" style="background-image: url(@obj.ImageUrl); background-size: cover; background-position: center; background-repeat: no-repeat;">
                        <h2 style="text-align: center;">@obj.Name</h2>                        
                    </a>
                </td>
                <td>
                    <p style="text-decoration:underline">Εμφανίσεις</p>
                    <p>@obj.Period</p>
                </td>
            </tr>
        }
    </tbody>
</table>
