@model Preference
<head>
    <style>
        .slidecontainer {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .slider-wrapper {
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 25px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            transition: background-color 0.2s;
        }

            .slider:hover {
                opacity: 1;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                background: #04AA6D;
                cursor: pointer;
            }

            .slider::-moz-range-thumb {
                width: 25px;
                height: 25px;
                background: #04AA6D;
                cursor: pointer;
            }

        .left-percentage, .right-percentage {
            width: 50px;
            text-align: center;
        }
    </style>
</head>




<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Προτιμήσεις Χρήστη</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="border p-3">
                <div asp-validation-summary="ModelOnly"></div>               
                <div class="form-floating py-2 col-12">
                    <p>Προτίμηση στην Rock</p>
                    <div class="slider-wrapper">
                        <span class="left-percentage">0%</span>
                        <input asp-for="rockPreference" type="range" value=@Model.rockPreference class="slider" id="rockSlider" min="0" max="100" />
                        <span class="right-percentage">100%</span>
                    </div>
                    <span asp-validation-for="rockPreference" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <p>Προτίμηση στην Metal</p>
                    <div class="slider-wrapper">
                        <span class="left-percentage">0%</span>
                        <input asp-for="metalPreference" type="range" value=@Model.metalPreference class="slider" id="metalSlider" min="0" max="100" />
                        <span class="right-percentage">100%</span>
                    </div>
                    <span asp-validation-for="metalPreference" class="text-danger"></span>
                </div>


                <div class="form-floating py-2 col-12">
                    <p>Προτίμηση στην Indie</p>
                    <div class="slider-wrapper">
                        <span class="left-percentage">0%</span>
                        <input asp-for="indiePreference" type="range" class="slider" id="indieSlider" value=@Model.indiePreference min="0" max="100" />
                        <span class="right-percentage">100%</span>
                    </div>
                    <span asp-validation-for="indiePreference" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <p>Προτίμηση στην Electro</p>
                    <div class="slider-wrapper">
                        <span class="left-percentage">0%</span>
                        <input asp-for="electroPreference" type="range" class="slider" id="electroSlider" value=@Model.electroPreference min="0" max="100" />
                        <span class="right-percentage">100%</span>
                    </div>
                    <span asp-validation-for="electroPreference" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <p>Προτίμηση στην Pop</p>
                    <div class="slider-wrapper">
                        <span class="left-percentage">0%</span>
                        <input asp-for="popPreference" type="range" class="slider" id="popSlider" value=@Model.popPreference min="0" max="100" />
                        <span class="right-percentage">100%</span>
                    </div>
                    <span asp-validation-for="popPreference" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <p>Προτίμηση στην Rap</p>
                    <div class="slider-wrapper">
                        <span class="left-percentage">0%</span>
                        <input asp-for="rapPreference" type="range" class="slider" id="rapSlider" value=@Model.rapPreference min="0" max="100" />
                        <span class="right-percentage">100%</span>
                    </div>
                    <span asp-validation-for="rapPreference" class="text-danger"></span>
                </div>



     
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Δημιουργία</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary border  form-control">
                            Επιστροφή στην Αρχική Σελίδα
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    // Αλλαγή χρώματος slider ανάλογα με την τιμή
    function updateSliderColor(slider) {
        const value = slider.value;
        const percentage = value + '%';
        slider.style.background = `linear-gradient(90deg, #04AA6D ${percentage}, #d3d3d3 ${percentage})`;
    }

    // Εφαρμογή για κάθε slider
    document.querySelectorAll('.slider').forEach(slider => {
        slider.addEventListener('input', function() {
            updateSliderColor(this);
        });

        // Αρχική ρύθμιση χρώματος
        updateSliderColor(slider);
    });
</script>