<!DOCTYPE html>
<html lang="en">
@model List<Artist>
<head>
    <title>Artists</title>
</head>

<body>

    <header>
        <h2>Καλλιτέχνες</h2>
    </header>
    <div class="container">
        <div class="row pt-4">
            <div class="col-4 text-start"><a asp-controller="Artist" asp-action="Create" class="btn btn-primary">Νέος Καλλιτέχνης</a></div>
        </div>
        <table id="tblData" class="ws-table-all w3-bordered w3-striped w3-border test w3-hoverable" style="width:100%">
        <thead>
            <tr>
                <th>ΟΝΟΜΑ</th>
                <th>ΠΕΡΙΓΡΑΦΗ</th>
                <th>URL ΦΩΤΟΓΡΑΦΙΑΣ</th>
                <th>ΠΕΡΙΟΔΟΣ ΕΜΦΑΝΙΣΕΩΝ </th>
                <th> </th>
            </tr>
        </thead>
    </table>
    </div>

</body>
</html>

@section Scripts{
    <script src="~/js/Artist.js"></script>
}