<!DOCTYPE html>
<html lang="en">
@model List<MusicVenue>
<head>
    <title>Music Venues</title>
</head>

<body>

    <header>
        <h2>Χώροι Συναυλιών</h2>
    </header>
    <div class="container">
        <div class="row pt-4">
            <div class="col-4 text-start"><a asp-controller="MusicVenue" asp-action="Create" class="btn btn-primary">Νέος Χώρος</a></div>
        </div>
        <table id="tblData" style="width:100%">
            <thead>
                <tr>
                    <th>ΟΝΟΜΑΣΙΑ ΧΩΡΟΥ</th>
                    <th>ΤΟΠΟΘΕΣΙΑ</th>
                    <th>ΧΩΡΗΤΙΚΟΤΗΤΑ</th>
                    <th>ΠΕΡΙΓΡΑΦΗ</th>
                    <th>ΔΙΑΘΕΣΙΜΟ</th>
                    <th></th>
                </tr>
            </thead>         
        </table>
    </div>

</body>
</html>

@section Scripts{
    <script src="~/js/MusicVenue.js"></script>
}